/* ======= NavBar Styles ======= */
.fixed{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}
.Navbar{
   
height: 70px;
flex-shrink: 0;
border-radius: 48px;
border: 1px solid rgba(0, 0, 0, 0.08);
background: rgba(0, 0, 0, 0.02);
margin: 20px 20px;
display: flex;
justify-content: space-between;
margin-bottom: 0px;
}
.bar{
    background: green;
    width: 60.007px;
height: 2px;
position: relative;
left: 18px;
}

.navigation{
    display: flex;
    padding: 23px;
   
}

.links{
    color: #35363A;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding:0px 20px ;
cursor: pointer;
}

.links:hover{
    color: green;
}

.bar:hover{
    color: black;
}

.logo{
    width: 60px;
    height: 60px;
}

.company-logo{
    width: 50px;
    height: 50px;

}

.mobile-menu-icon {
    display: none; 
    margin: 18px 30px;
    cursor: pointer;
  }
 
  
  .mobile-dropdown {
    display: none;
    margin: 0px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.08);
background: rgba(0, 0, 0, 0.02);
  }


@media(max-width:800px){
    .web{
        display: none;
    }
}
@media(max-width:500px){
    .web-2{
        display: none;
    }
    .container-1{
        padding: 0px 30px;
    }
}

@media (max-width: 768px) {
    .mobile-menu-icon {
      display: block; 
    }
  
    .navigation {
      display: none; 
    }
  
    .mobile-dropdown {
      display: block;
    }
    .Navbar{
        border-radius: 0%;
    }
    .links:hover{
        background-color: #f3afed;
    }
    .company-logo{
        left: -0px;
    }
  }
    
    
